.allPokemons-main {
    min-height: 800px;

    .pokemons {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        &-block {
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            .notFound {
                position: absolute;
                left: 45%;
            }
        }
    }
}

@media (max-width: 1300px) {
    .allPokemons-main {
        .pokemons {
            &-block {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}

@media (max-width: 1130px) {
    .allPokemons-main {
        .pokemons {
            &-block {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

@media (max-width: 820px) {
    .allPokemons-main {
        .pokemons {
            &-block {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}